/* \\\\\\\\\\\ REGOLE GENERALI  \\\\\\\\\\\\\\\\ */

#wrapper{
    width:100%;
    height: calc(100vh - 70px);
    background-color: black;
    color:white;
}

body{
    height:100vh;
}

main{
    height:calc(100vh - 70px);
    background-color: black;
    color:white;
}

footer{
    width:100%;
    height:70px;
    background-color: green;
    z-index: 3;
}

#main_content{
    height:calc(100vh - 111px);
    overflow:auto;
}
/* \\\\\\\\\\\ REGOLE GENERALI  \\\\\\\\\\\\\\\\ */

/* \\\\\\\\\\\ UTILITY \\\\\\\\\\\\\ */
.bg_darkgray{
    background-color: #080B12;
}

.bg_dark{
    background-color: #141922;
}

.img_small{
    width:25px;
}

.pad-l-1{
    padding-left: 1rem;
}
/* \\\\\\\\\\\ UTILITY \\\\\\\\\\\\\ */


/* \\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\*/

nav{
    background-color: gray;
    height: 100px;
}



#wrapper ul li a > span{
    border:1px solid white;
    border-radius: 1rem;
    vertical-align: middle;
}

#top_menu{
    height: 80%;
    padding:10px 0;
    overflow:auto;
}



#bottom_menu{
    color:gray;
    height: 10%;
}

#play_list{
    height:60%;
   /*  overflow: auto; */
}



#user i{
    width:30px;
    height:30px;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 50%;
    color:white;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}

#install{
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    width:100%;
    z-index: 4;
}

#play_list ul li a{
    padding:0;
    color:#6B6B6B;
}
#play_list h4{
    padding:0;
    color:#6B6B6B;
}
#play_list{
    width:calc(100% - 10%);
    padding:0 1rem;
}
/* \\\\\\\\\\\\\\\ /HEADER \\\\\\\\\\\\\\\*/

/* \\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\*/
.top_main{
    width:100%;
}

/* \\\\\\\\\\\\\\\  /MAIN \\\\\\\\\\\\\\\*/

